/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;700&family=Inter:wght@100..900&family=Open+Sans:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,400;1,500;1,700&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --main-color: #344054;
  --light-color: #667085;
  --inputbg: rgba(249, 250, 251, 1);
  --second-color: #6941c6;
  overflow-x: hidden !important;
}
label {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--main-color);
}
input {
  background-color: rgba(249, 250, 251, 1) !important;
}
.btn {
  background-color: var(--second-color) !important;
  color: white !important;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.cursor-pointer {
  cursor: pointer;
}
